/* Train Schedule CSS */
.jumbotron{
	background-image: url(" https://tse2.mm.bing.net/th?id=OIP.znjrVWowZE76YstTa_D9PgEsC7&pid=15.1&P=0&w=265&h=166");
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size: cover;

}

.jumbotron h1 {
	color: white;

}

.fa-
train{
	color: saddlebrown;
}

h5 {
	color: red;
}
